<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>



<div th:fragment="copy">
    <div class="modal fade" id="removePartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" th:text="#{label.part.remove}"/>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="part-type-remove-form" action="/part/delete" th:object="${newPart}" method="POST" enctype="utf8">
                        <input
                                type="hidden"
                                id="current_id"
                                th:field="*{id}"
                                th:value="${part.id}"
                        />
                        <input
                                type="hidden"
                                th:name="${_csrf.parameterName}"
                                th:value="${_csrf.token}" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button  type="submit" form="part-type-remove-form" class="btn btn-primary">Remove</button>
                </div>
            </div>
        </div>
    </div>

</div>

</body>



</html>