<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title th:text="#{location.title}"></title>

  <div th:insert="/fragments/common/title_include :: copy"></div>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <div th:insert="/fragments/common/sidebar :: copy"></div>


  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <div th:insert="/fragments/common/top_panel :: copy"></div>

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Узлы</h1>
        </div>
        <br>
        <h1 class="h5 d-sm-flex  text-gray-600">
          СЫЗРАНСКОЕ ЛПУ МГ 446074 Самарская область, Сызранский район, пос. Варламово
        </h1>
        <br>


          <div th:fragment="submenu" th:remove="tag">
            <ul>
              <li th:each="part : ${parts}" >
                <div>
                <span th:text="${part.partType.name}"/>
                <span th:text="${part.partType.partNum}"/>
                <span  class="font-weight-bold" th:text="${part.serialNum}"/>

                  <a href="#" type="button" class="fas fa-fw fa-plus" data-toggle="modal"  title="Добавить узел" data-target="#createPartModal"></a>
                  <a href="#" type="button" class="fas fa-fw fa-trash" data-toggle="modal" title="Удалить узел" data-target="#removePartModal"></a>
                  <a href="#" type="button" class="fas fa-fw fa-shipping-fast" data-toggle="modal" title="Переместить узел" data-target="#"></a>

                  <div th:with="parts = ${part.getParts()}" th:include=" :: submenu" th:remove="tag" />

                  <div th:with="partType = ${part.partType}"  th:include="/fragments/modal/remove_part_modal :: copy"></div>
                  <div th:with="partType = ${part.partType}" th:include="/fragments/modal/add_part_modal :: copy"></div>
                </div>
              </li>
            </ul>
          </div>



        </div>


      </div>
      <!-- End of Content Wrapper -->

      <div th:insert="/fragments/common/footer :: copy"></div>
      <!-- End of Main Content -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <div th:insert="/fragments/common/logout :: copy"></div>
  <div th:insert="/fragments/common/scripts :: copy"></div>
</body>

</html>
