<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title th:text="#{location.title}"></title>

  <div th:insert="/fragments/common/title_include :: copy"></div>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <div th:insert="/fragments/common/sidebar :: copy"></div>


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Begin Page Content -->
      <div th:insert="/fragments/common/top_panel :: copy"></div>

      <!-- Main Content -->
      <div id="content">

        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Иерархия типов</h1>
          </div>




          <div th:fragment="submenu" th:remove="tag">
            <ul>
              <li th:each="partType : ${partTypes}" >
                <div>
                <span th:text="${partType.name}"/>
                <span th:text="${partType.partNum}"/>
                  <a href="#" type="button" class="fas fa-fw fa-plus" data-toggle="modal" data-target="#createPartTypeModal" title="Добавить подтип" th:attr="data-part-id=${partType.getId()}"></a>
                  <a href="#" type="button" class="fas fa-fw fa-trash" data-toggle="modal" data-target="#removePartTypeModal" title="Удалить тип" th:attr="data-part-id=${partType.getId()}"></a>
                <div th:with="partTypes = ${partType.getPartTypes()}"
                     th:include=" :: submenu" th:remove="tag" />
                </div>
              </li>
            </ul>
          </div>

          <div th:insert="/fragments/modal/add_part_type_modal :: copy"></div>
          <div th:insert="/fragments/modal/remove_part_type_modal :: copy"></div>


        </div>


      </div>
      <!-- End of Content Wrapper -->

      <div th:insert="/fragments/common/footer :: copy"></div>
      <!-- End of Main Content -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <div th:insert="/fragments/common/logout :: copy"></div>
  <div th:insert="/fragments/common/scripts :: copy"></div>
</body>

</html>
