<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <body>

  <div th:fragment="copy">
    <form class="user">
      <div class="form-group row">
        <div class="col-sm-4 mb-3 mb-sm-0">
          <input type="text" class="form-control form-control-user" id="firstName"  th:placeholder="#{registration.firstName}">
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
          <input type="text" class="form-control form-control-user" id="lastName" th:placeholder="#{registration.lastName}">
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control form-control-user" id="middleName" th:placeholder="#{registration.middleName}">
        </div>
      </div>
      <div class="form-group">
        <input type="email" class="form-control form-control-user" id="email" th:placeholder="#{registration.email}">
      </div>
      <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <input type="text" class="form-control form-control-user" id="title" th:placeholder="#{registration.title}">
        </div>
        <div class="col-sm-6">
          <input type="password" class="form-control form-control-user" id="branch" th:placeholder="#{registration.branch}">
        </div>
      </div>
      <a href="login.html" class="btn btn-primary btn-user btn-block" th:text="#{registration.button}"/>
      <hr>
    </form>
  </div>

  </body>

</html>